body {
font-family: "Inter", sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;

} 

.container {
  width: 70%;
  max-width: 1500px;
  margin: 0 auto;
}

nav .nav-logo img{
  width: 139px;

}

nav{
  display: flex;
  justify-content: space-between;
  padding: 16px 120px;
  
}

nav ul{
  list-style: none;
  display: flex;
  gap: 32px;
  padding: 0;
}


nav ul li{
  list-style: none;
  display: flex;
  gap: 32px;
  padding: 0;
  di
}


nav .nav-button{
  padding: 12px 16px;
 
}
nav .nav-button button{
  padding: 12px 16px;
  background-color: #469165;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

 #hero .hero-content{
  text-align: center;
  padding: 70px 120px;
  background: linear-gradient(to top, #627382,#001931  );
  background-color: url(../assets/hero-bg.png);
  margin: 0 auto;

}

.btn .btn-left {
  padding: 6px 10px;
  background-color: #469165;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn .btn-right {
   padding: 12px 16px;
 background: linear-gradient(to top, #627382,#001931  );
  color: white;
  border: 1px solid black;
  border: none;
  border-radius: 8px;
  cursor: pointer;

}




#hero .hero-content .hero-heading h4{
  background:  #30B868;
  color: #ffffff;
  margin: 0 auto;
  padding: 8px 12px;
  border-radius: 8px;
  display: inline-block;
}

#hero .hero-content .hero-heading .hero-h1{
  color: #ffffff;
}


#hero .hero-content .hero-heading .hero-h2{
  color: #30B868;
}

.apps-content{
  padding: 120px;
}

.apps-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.apps-heading{
  text-align: center;
}

.apps-heading h1{
  color: #001931;
}


.apps-heading p{
font-size: 16;
line-height: 20px;
color: #627382;
}


.apps-card img{
  background: #F95555;
  width: 40px;
  border-radius: 25px;
}

.apps-card {
  width: 300px;
  height: 280px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.215);
  padding: 24px;
  text-align: center;
  background: #ffffff;
  border-radius: 5px;

  

}

.apps-card h4{
  font-size: 24px;
  color: #001931;
  width: 274px;
  line-height: auto;


}
.apps-card p{
  color: #627382;
  width: 274px;
  height: 40px;
}

.brain-content{
  display: flex;
  justify-content: space-between;
  padding: 120px;
}

.brain-content .brain-img img{
  width: 100%;
}

.brain-structure h5{
  font-size: 16px;
  color: #627382;
}

.brain-structure h1{
  color: #001931;
  font-size: 48px;
  font-weight: bold;
  line-height: auto;
}
.brain-structure p{
  font-size: 16px;
  color: #627382;
  line-height: 20px;
}

.brain-structure ul li{
  color: #1E1E1E;
  list-style: none;




}

.clear-all{
  text-align: center;
  
}

.clear-all h1{

  color: #001931;
  font-size: 40px;
  font-weight: bold;


}

.clear-all p {
  font-size: 16px;
  line-height: 24px;
  color: #627382;
}


.clear-all .nav-button{
  padding: 12px 16px;
 
}
.clear-all .nav-button button {
  padding: 12px 16px;
  background-color: #469165;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.social-logo img{
  width: 139px;
  height: 60px;

}

.social-img img {
  width: 20px;

}

#social {
  display: flex;
  justify-content: space-between;
  padding: 120px;
   background: linear-gradient(to top, #627382,#001931  );
}
.social-link {
  display: flex;
  justify-content: end;
  align-items: end;
}

.social-img h5, p{
  color: #ffffff;
}
