body {
font-family: "Inter", sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;

} 

.container {
  width: 70%;
  max-width: 1500px;
  margin: 0 auto;
}

nav .nav-logo img{
  width: 139px;

}

nav{
  display: flex;
  justify-content: space-between;
  padding: 16px 120px;
  
}

nav ul{
  list-style: none;
  display: flex;
  gap: 32px;
  padding: 0;
}


nav ul li{
  list-style: none;
  display: flex;
  gap: 32px;
  padding: 0;
  di
}


nav .nav-button{
  padding: 12px 16px;
 
}
nav .nav-button button{
  padding: 12px 16px;
  background-color: #469165;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

 #hero .hero-content{
  text-align: center;
  padding: 70px 120px;
  background: linear-gradient(to top, #627382,#001931  );
  background-color: url(../assets/hero-bg.png);
  margin: 0 auto;

}


#hero .hero-content .hero-heading h4{
  background:  #30B868;
  color: #ffffff;
  margin: 0 auto;
  padding: 8px 12px;
  border-radius: 8px;
  display: inline-block;
}

#hero .hero-content .hero-heading .hero-h1{
  color: #ffffff;
}


#hero .hero-content .hero-heading .hero-h2{
  color: #30B868;
}

.apps-content{
  padding: 120px;
}

.apps-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.apps-heading{
  text-align: center;
}

.apps-heading h1{
  color: #001931;
}


.apps-heading p{
font-size: 16;
line-height: 20px;
color: #627382;
}


.apps-card img{
  background: #F95555;
  width: 40px;
  border-radius: 25px;
}

.apps-card {
  width: 300px;
  height: 280px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.215);
  padding: 24px;
  text-align: center;
  background: #ffffff;
  border-radius: 5px;

  

}

.apps-card h4{
  font-size: 24px;
  color: #001931;
  width: 274px;
  line-height: auto;


}
.apps-card p{
  color: #627382;
  width: 274px;
  height: 40px;
}
 